.header {
  grid-area: h;
  background-color: #e7d3db  ;
  border-radius: 5px;
  padding-left: 1em;
}

.header img {
  width: 45px;
  padding: 2px;
}

.loginBlock {
  float: right;
  padding-right: 20px;
  margin-top: 10px;
  display: flex;
}

.loginBlock a{
  color: black;
  text-decoration: none;
 
}

.userName  {
  padding: 5px;
}