.dialogs {
  display: grid;
  grid-template-rows: 50px 2fr;
  grid-template-columns: 1.8fr 5fr;
  grid-template-areas: 
  "search search"
  "contacts messages";
  padding: 10px;
}

.dialog {
  display: flex;
  padding: 10px;
  border-right: 1px solid rgb(29, 161, 122);
  flex-direction: row;
}

.dialogsItems {
  grid-area: contacts;
}

.dialog a {
  text-decoration: none;
  padding-left: 40px;
  padding-top: 10px;
}

.dialog a:visited {
  color: black;
}

.dialogsItems .active {
  color: rgb(29, 161, 122);
}

.messages {
  grid-area: messages;
}
.message {
  padding: 10.5px;
}

.newdialog {
  grid-area: search;
  display: flex;
  flex-direction: row;
}
.item img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
